.format{
  &__120_600{
    &#logo{
      $logo-w: 100px;
      width: $logo-w;
      height: round($logo-w / 6.045751633986928);
      top: 7px;
      left: 5px;
    }
  }
  &__160_600{
    &#logo{
      $logo-w: 115px;

      width: $logo-w;
      height: round($logo-w / 6.045751633986928);
      top: 7px;
      left: 12px;
    }
  }
  &__300_250, &__300_600{
    &#logo{
      $logo-w: 148px;
      width: $logo-w;
      height: round($logo-w / 6.045751633986928);
      top: 7px;
      left: 12px;
    }
  }
  &__200_600, &__250_600 {
    &#logo{
      $logo-w: 155px;

      width: $logo-w;
      height: round($logo-w / 6.045751633986928);
      top: 7px;
      left: 12px;
    }
  }
  &__320_480{
    &#logo{
      $logo-w: 180px;

      width: $logo-w;
      height: round($logo-w / 6.045751633986928);
      top: 7px;
      left: 12px;
    }
  }
  &__320_125, &__728_90{
    &#logo{
      $logo-w: 130px;

      width: $logo-w;
      height: round($logo-w / 6.045751633986928);
      top: 7px;
      left: 12px;
    }
  }
  &__1120_300, &__600_500, &__640_150, &__640_200, &__768_250, &__800_150, &__800_250, &__840_150, &__960_150, &__970_250, &__995_123, &__995_250 {
    &#logo{
      $logo-w: 210px;

      width: $logo-w;
      height: round($logo-w / 6.045751633986928);
      top: 7px;
      left: 12px;
    }
  }
  &__320_100, &__320_200, &__320_240, &__320_250, &__640_100, &__970_90 {
    &#logo{
      $logo-w: 148px;
      width: $logo-w;
      height: round($logo-w / 6.045751633986928);
      top: 7px;
      left: 12px;
    }
  }
  &__300_50, &__300_75, &__320_50 {
    &#logo{
      $logo-w: 65px;
      width: $logo-w;
      height: round($logo-w / 6.045751633986928);
      top: 5px;
      left: 5px;
    }
  }
  &__300_100, &__320_75, &__320_100, &__375_100, &__468_60 {
    &#logo{
      $logo-w: 90px;
      width: $logo-w;
      height: round($logo-w / 6.045751633986928);
      top: 5px;
      left: 5px;
    }
  }
}