<!-- GetValueProcess:beginCustomStyle -->

// ONLY VARIABLE VALUES !!

$logo-w: 40px;
$logo-h: round($logo-w*0.65);

$cta-w: 160px;
$cta-h: round($cta-w*0.36708860759);

#container {
    #logo{
        left:10px;
        top:10px;
        width:$logo-w;
        height:$logo-h;
    }
    #mask{
        right:0;
        top:0;
        height: 100px;
    }
    .visu{
        height:100px;
    }
    #car{
        top: 20px;
        left: 46px;
        height: 66px;    
    }

    .cta{
        width:$cta-w;
        height:$cta-h;
        top: 170px;
        right:10px;
    }
    .txt{
        font-size: 10px;
        right: 10px;
        top: 48px;
        text-align: right;
        // line-height: 1.1;
    }
    #copy1{
        top:15px;
        .bold{
            font-size: 1.35em;
        }
    }
    #mention{
        font-size: 6px;
        top:87px;
    }
}

<!-- GetValueProcess:endCustomStyle -->
