<!-- GetValueProcess:beginCustomStyle -->

// ONLY VARIABLE VALUES !!

$logo-w: 40px;
$logo-h: round($logo-w*0.65);

$cta-w: 160px;
$cta-h: round($cta-w*0.31875);

#container {
    #logo{
        left:10px;
        top:10px;
        width:$logo-w;
        height:$logo-h;
    }
    #mask{
        right:-15px;
        top:0;
        height: 50px;
    }
    .visu{
        height:50px;
    }
    #car{
        top: 6px;
        left: 75px;
        height: 40px;  
    }

    .cta{
        width:$cta-w;
        height:$cta-h;
        top: 170px;
        right:5px;
    }
    .txt{
        font-size: 8px;
        right: 8px;
        top: 20px;
        text-align: right;
        // line-height: 1.1;
    }
    #copy1{
        top:6px;
        .bold{
            font-size: 1.2em;
        }
        .ita{
            margin-right: 2px;
        }
    }
    #mention{
        font-size: 6px;
        top:40px;
    }
}

<!-- GetValueProcess:endCustomStyle -->
