<!-- GetValueProcess:beginCustomStyle -->

// ONLY VARIABLE VALUES !!

$logo-w: 60px;
$logo-h: round($logo-w*0.65);

$cta-w: 100px;
$cta-h: round($cta-w*0.31875);

#container {
    #logo{
        left:15px;
        top:25px;
        width:$logo-w;
        height:$logo-h;
    }
    #mask{
        right:0;
        top:0;
    }
    #car{
        top: 10px;
        left: 212px;
        height: 77px;
    }

    .txt{
        font-size: 12px;
        right: 10px;
        top: 43px;
        text-align: right;
    }
    #copy1{
        top:8px;
        .bold{
            font-size: 1.35em;
        }
        .ita{
            margin-right: 3px;
        }
    }
    #mention{
        font-size: 8px;
        bottom: 10px;
        top: unset;
    }
    
    .cta{
        width:$cta-w;
        height:$cta-h;
        bottom: 29px;
        right: 213px;
    }
}

<!-- GetValueProcess:endCustomStyle -->
