<!-- GetValueProcess:beginCustomStyle -->

// ONLY VARIABLE VALUES !!

$logo-w: 100px;
$logo-h: round($logo-w*0.65);

$cta-w: 130px;
$cta-h: round($cta-w*0.31875);

#container {
    #logo{
        left:20px;
        top:20px;
        width:$logo-w;
        height:$logo-h;
    }
    #mask{
        right:0;
        bottom:0;
    }
    #car{
        top:115px;
        width: 270px;
        left: 15px;
    }

    .cta{
        width:$cta-w;
        height:$cta-h;
        bottom: 25px;
        right:25px;
    }
    .txt{
        font-size: 15px;
        right: 25px;
        top: 470px;
        text-align: right;
        // line-height: 1.1;
    }
    #copy1{
        top:420px;
        .bold{
            font-size: 1.35em;
        }
    }
    #mention{
        font-size: 9px;
        top:510px;
    }
}

<!-- GetValueProcess:endCustomStyle -->
