<!-- GetValueProcess:beginCustomStyle -->

// ONLY VARIABLE VALUES !!

$logo-w: 250px;
$logo-h: round($logo-w*0.1431);

$cta-w: 135px;
$cta-h: round($cta-w*0.2715751896474788);

$banner-w: 300px;
$banner-h: 600px;

#container {
    #logo-long{
        left:22px;
        top:30px;
        width:$logo-w;
        height:$logo-h;
    }
    #bg {
        transform: scaleX(-1);
    }
    #mask{
        right:0;
        bottom:0;
    }
    #car{
        top: 125px;
        height: 220px;
        left: -10px;
    }

    .cta{
        width:$cta-w;
        height:$cta-h;
        bottom: 49px;
        left:25px;
    }
    .txt{
        font-size: 24px;
        left: 25px;
        top: 416px;
        // line-height: 1.1;
    }
}

<!-- GetValueProcess:endCustomStyle -->
