<!-- GetValueProcess:beginCustomStyle -->

// ONLY VARIABLE VALUES !!

$logo-w:75px;
$logo-h: round($logo-w*0.65);

$brand-w: 180px;
$brand-h: round($brand-w*0.0942989690721649);

$cta-w: 140px;
$cta-h: round($cta-w*0.2715751896474788);

#container {
    #logo{
        right:10px;
        bottom:15px;
        width:$logo-w;
        height:$logo-h;
    }
    #brand {
        width: $brand-w;
        height: $brand-h;
        left: 20px;
        top: 20px;
    }
    #car{
        top: 10px;
        right: 173px;
        height: 130px;
    }

    .txt{
        font-size: 18px;
        left: 20px;
        top: 50px;
        text-align: right;
    }
    
    .cta{
        width:$cta-w;
        height:$cta-h;
        bottom: 20px;
        left: 20px;
    }
}

<!-- GetValueProcess:endCustomStyle -->
