.legal{
  &.format{
    &__120_600{
      .logo_secu{
        width: 90px;
        height: 10px;
      }
    }
    &__160_600{
      .logo_secu{
        width: 130px;
        height: 11px;
      }
    }
    &__768_250,&__300_250,&__375_100,&__336_280{
      .logo_secu{
        width: 150px;
        height: 12px;
      }
    }
    &__600_500,&__320_480,&__300_600,&__1120_300{
      .logo_secu{
        width: 200px;
        height: 17px;
      }
    }
    &__995_250,&__995_123,&__970_250,&__960_150,&__970_90,&__840_150,&__728_90,&__640_150,&__800_250,&__800_150,&__640_200{
      .logo_secu{
        width: 170px;
        height: 14px;
      }
    }
    &__320_250,&__320_240,&__320_200,&__320_100,&__320_125,&__320_75,&__320_50,&__468_60,&__300_75,&__640_100{
      .logo_secu{
        width: 115px;
        height: 9px;
      }
    }
  }
}
